# Python
venv/
__pycache__/
*.pyc

# YOLO
runs/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# Visual Studio
.vs/
*.csproj
*.sln
*.user

# VS Code
.vscode/

# Python cache
*.pyo

# OS
Thumbs.db
.DS_Store

# Runtime generated images
camera_feed/
detections/
vision_input/

# Runtime data
data/lane_data.json